@import "../../sass/variables";
@import "../../sass/breakpoints";

.Game {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 1rem;
  top: 0;
  left:0;
  right:0;
  overflow: hidden;


  @include media("<=collapse") {
    padding:1rem 0 0 0;
  }

}


.header {
  .dropdownMenuTitle {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 0.25rem;
  }

  .dropdownMenuNickname {
    font-size: 0.9rem;
  }
  .dropdownMenuPlayerType {
    font-size: 0.9rem;
    color: $paragraph;
  }
}


.GameWrapper {
  height: 100%;
  .row {
    height: 100%;
  }

  .col-lg-2,
  .col-lg-8 {
    padding: 0;
  }

  .gameColumn {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .gameOverlay {
    height: 70%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

  .blueTeamColumn {
    .TeamCard {
      margin-left: auto;
    }
  }

  @include media("<=collapse") {
    .blueTeamColumn,
    .redTeamColumn {
      order: 2;
      width: 50%;
    }

    .gameColumn {
      order: 1;
      padding: 0;
      margin-bottom: 3rem;
    }

    .gameOverlay {
      height: 100%;
    }
  }
}
