$background: #16161a;
$backgroundLight: #242629;
$headline: #fffffe;
$paragraph: #94a1b2;
$primary: #7f5af0;
$primaryDark: #6336ec;
$secondary: #72757e;
$tertiary: #2cb67d;
$stroke: #010101;

$redTeam: #e45858;
$redTeamDark: #e23636;
$neutral: #8c7851;
$blueTeam: #5624ec;
$blueTeamDark: #4611e7;

:export {
  background: $background;
  backgroundLight: $backgroundLight;
  headline: $headline;
  paragraph: $paragraph;
  primary: $primary;
  primaryDark: $primaryDark;
  secondary: $secondary;
  tertiary: $tertiary;
  stroke: $stroke;
  redTeam: $redTeam;
  blueTeam: $blueTeam;
  redTeamDark: $redTeamDark;
  blueTeamDark: $blueTeamDark;
  neutral: $neutral;
}
