@import 'variables';
@import 'reset';

* {
  box-sizing: border-box;
}

html,
body,
#root,
.App,
.sideMenu,
.aside,
.content {
  height: 100%;
}

body {
  background: $bg_content;
  // font-family: 'Poppins', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.below {
  width: 100%;
  margin-top: 50px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}