@import "../../sass/variables";
@import "../../sass/breakpoints";

.GameCard {
  padding: 0 0.5rem 1rem 0.5rem;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  text-align: center;

  .title {
    transition: 0.3s ease;
    font-size: 1.3rem;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include media("<=desktop") {
    .title {
      transition: 0.3s ease;
      font-size: 1rem;
    }
  }


  @include media("<=collapse") {
    padding: 0 0.25rem 0.5rem 0.25rem;
    .title {    
      transition: 0.3s ease;
      font-size: 0.9rem;
    }
  }

  @include media("<=tablet") {
    padding: 0 0.25rem 0.5rem 0.25rem;
    .title {    
      transition: 0.3s ease;
      font-size: 0.7rem;
    }
  }

    @include media("<=phone") {
    .title {    
      transition: 0.3s ease;
      font-size: 0.7rem;
    }
  }

}


.GameCardPlot {
  min-height: 50px;
  height: 100%;
  width: 100%;
  background-color: $secondary;
  border-radius: 3px;
}

.GameCardPlot.NEUTRAL {
  background-color: $neutral;
}

.GameCardPlot.RED {
  background-color: $redTeam;
}

.GameCardPlot.BLUE {
  background-color: $blueTeam;
}

.GameCardPlot.BLACK {
  background-color: $backgroundLight;
}

